<h1>Available Parking </h1>

<div class="show-cards">

<% @parkingspots.each do |parkingspot| %>
<div class="show-card" style="width: 18rem;">

  <div class="card-title">Street Address:</div>
  <div class="card-subtitle"><%=  parkingspot.street_address %></div>

  <div class="card-title">City:</div>
  <div class="card-subtitle"><%=  parkingspot.city %></div>

  <div class="card-title">State:</div>
  <div class="card-subtitle"><%=  parkingspot.state %></div>

  <div class="card-title">Neighborhood:</div>
  <div class="card-subtitle"> <%=  parkingspot.neighborhood.neighborhood %></div>

  <div class="card-title">Parking Size:</div>
  <div class="card-subtitle"><%=  parkingspot.car_type %></div>

  <div class="card-title">Status:</div>
  <div class="card-subtitle"> <%=  parkingspot.status %></div>


<%= button_to "Select Spot", parkingspot_path(parkingspot), method:"get", class:"btn-secondary btn-sm" %>
<% end %>


</div>

</div>
