<h1>Parking Spots</h1>


</div>


<% @parkingspots.each do |parkingspot| %>
  <div class="card card-body">
      <div class="card-subtitle">Street Address:<%=  parkingspot.street_address %></div>

      <div class="card-subtitle">City:<%=  parkingspot.city %></div>

      <div class="card-subtitle">State:<%=  parkingspot.state %></div>

      <div class="card-subtitle">Neighborhood:<%=  parkingspot.neighborhood.neighborhood %></div>

      <div class="card-subtitle">Parking Size:<%=  parkingspot.car_type %></div>

      <div class="card-subtitle">Status:<%=  parkingspot.status %></div>

      <%= button_to "Select Spot", parkingspot_path(parkingspot), method:"get" %>
    </div>
  <% end %>


  <%# <%= button_to "Home", '/', method:"get" %>
