<!-- <div class="container align-content-center"> -->
  <!-- <div class="header"><h1>Neighborhoods </h1> </div> -->
  <h1 class="display-3">Neighborhoods</h1>

  <div class="card-group ">

    <% @neighborhoods.each do |neighborhood| %>
      <div class="card p-2 flex-column">

        <img src="<%=  neighborhood.img_url %>" class="card-img-top" alt="<%= neighborhood.neighborhood %>">

          <div class="card-body">
            <h5 class="card-title"><%= neighborhood.neighborhood %></h5>

          </div>

          <div class="card-footer">
            <small><%= link_to neighborhood.neighborhood, neighborhood_path(neighborhood), class: "btn btn-primary"%></small>
          </div>

      </div>
    <% end %>

  </div>
<!--<%# <%= button_to "Home", '/', method:"get" %> %>-->
<!-- </div> -->
